{% extends "page.html" %}

{% block main_content %}

{% set root_path = '' %}
{% set raw_root_path = config.get('ckan.root_path') %}
{% if raw_root_path is not none %}
{% set root_path = raw_root_path
| replace('//', '/')
| replace('/{{LANG}}', '')
| replace('%7B%7BLANG%7D%7D', '')
%}
{% if root_path == '/' %}
{% set root_path = '' %}
{% endif %}
{% endif %}

<div style="width: 100vw; margin-left: calc(50% - 50vw); display: flex; justify-content: center;">
    <div id="canvas_container"
         style="width: 90vw;
             max-width: none !important;
             min-width: 800px;
             height: 75vh;
             min-height: 600px;
             border: 1px solid #ddd;
             overflow: hidden;
             position: relative;">
        <canvas
            id="the_canvas_id"
            style="width: 100%;
                height: 100%;
                display: block;"
            api-ip-subpath="{{ api_ip_subpath }}"
            root-path="{{ root_path }}"
            {% if pkg_dict %}
            data-pkg-dict="{{ pkg_dict | tojson | forceescape }}"
            data-n3="{{ pkg_dict.name }}.n3"
            {% endif %}
        ></canvas>

        <div id="custom_resize_handle"
             style="position: absolute;
                 bottom: 0;
                 right: 0;
                 width: 25px;
                 height: 25px;
                 cursor: nwse-resize;
                 z-index: 10;
                 background: linear-gradient(135deg, transparent 50%, rgba(255, 255, 255, 0.4) 50%);">
        </div>
    </div>

    <script type="module">
     import init from '{{ root_path }}/graph_viewer/rdf_wasm_graph.js';

     const container = document.getElementById('canvas_container');
     const canvas = document.getElementById('the_canvas_id');
     const handle = document.getElementById('custom_resize_handle');

     let isResizing = false;
     let startX, startY, startWidth, startHeight;

     // stop wasm from autoscrolling when typing
     const observer = new MutationObserver((mutations) => {
         mutations.forEach((mutation) => {
             mutation.addedNodes.forEach((node) => {
                 // filter for potential scroll events
                 if (node.tagName === 'INPUT' || node.tagName === 'TEXTAREA') {

                     // prevent scroll
                     const origFocus = node.focus;
                     node.focus = function(opts) {
                         origFocus.call(this, { preventScroll: true, ...opts });
                     };

                     // hidden elements will be relative
                     node.style.position = 'fixed';
                     node.style.top = '50%';
                     node.style.left = '50%';
                 }
             });
         });
     });

     // observe whole document
     observer.observe(document.body, { childList: true, subtree: true });

     // start the resize when clicking the custom handle
     handle.addEventListener('mousedown', (e) => {
         isResizing = true;
         startX = e.clientX;
         startY = e.clientY;
         startWidth = container.offsetWidth;
         startHeight = container.offsetHeight;

         // disable canvas interactions
         canvas.style.pointerEvents = 'none';
         e.preventDefault();
     });

     // calculate and apply the new size
     window.addEventListener('mousemove', (e) => {
         if (!isResizing) return;

         // nultiply x by 2
         const deltaX = (e.clientX - startX) * 2;
         const deltaY = (e.clientY - startY);

         container.style.width = `${startWidth + deltaX}px`;
         container.style.height = `${startHeight + deltaY}px`;
     });

     // stop resizing when the mouse is released
     window.addEventListener('mouseup', () => {
         if (isResizing) {
             isResizing = false;
             canvas.style.pointerEvents = 'auto';
         }
     });

     // do not capture alt key
     window.addEventListener('keydown', function(e) {
         if (e.altKey) {
             e.stopPropagation();
         }
     }, true);

     async function run() {
         try {
             await init('{{ root_path }}/graph_viewer/rdf_wasm_graph_bg.wasm');
             console.log("WASM Initialized");
         } catch (e) {
             console.error("WASM Loading Failed:", e);
         }
     }

     run();
    </script>
</div>
{% endblock %}
